/* Apply basic styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  display: grid;
  gap:20px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 150px 100px;
  width: 400px; /* Set container width */
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item {
  background-color: #4caf50;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
